<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <include resource="org/springframework/boot/logging/logback/base.xml"/>

 <logger name="org.mybatis" level="ERROR" />
 <logger name="org.apache" level="ERROR" />
 <!-- <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" />
 <logger name="kafka.consumer.ZookeeperConsumerConnecto" level="ERROR" /> -->
 <logger name="java.sql" level="ERROR" />
 <logger name="com.kt.iot.open" level="DEBUG" />
 <logger name="org.springframework" level="ERROR" />
 
<appender name="API_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging_path}/${logging_file}-api.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>%d{yyyy-MM-dd}-api.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>40MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>${SERVER_NAME}|999|${DOMAIN_IP}|%d{YYYY-MM-dd HH:mm:ss.SSS}|%d{YYYY-MM-dd HH:mm:ss.SSS}|${host_name}|${host_ip}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging_path}/${logging_file}-error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>%d{yyyy-MM-dd}-error.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>40MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>${host_name}|999|${host_ip}|%d{YYYY-MM-dd HH:mm:ss.SSS}|%d{YYYY-MM-dd HH:mm:ss.SSS}|${host_name}|${host_ip}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.kt.iot" level="DEBUG" appender-ref="API_APPENDER"/>
</configuration>